# Common
NODE_ENV=development

# Web
WEB_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

# API
API_PORT=8080
JWT_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800
DATABASE_URL=postgresql://snapspace:snapspace@postgres:5432/snapspace?schema=public
REDIS_URL=redis://redis:6379
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=snapspace-assets

# MinIO Console
MINIO_CONSOLE_PORT=9001
